Variant 1: Read csv file with csv module

In [2]:
import csv

with open("weather_data.csv") as data_file:
    data = csv.reader(data_file)
    temperature = []
    for row in data:
        if row[1] != "temp":
            temperature.append(int(row[1]))
        print(row)

    print(temperature)

['day', 'temp', 'condition']
['Monday', '12', 'Sunny']
['Tuesday', '14', 'Rain']
['Wednesday', '15', 'Rain']
['Thursday', '14', 'Cloudy']
['Friday', '21', 'Sunny']
['Saturday', '22', 'Sunny']
['Sunday', '24', 'Sunny']
[12, 14, 15, 14, 21, 22, 24]

Variant 2 (easy): Read csv file with pandas module

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("./data/weather_data.csv")
data.head()

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny

In [5]:
# Display only one column
data["temp"]

0    12
1    14
2    15
3    14
4    21
5    22
6    24
Name: temp, dtype: int64

In [6]:
temp_list = data["temp"].to_list()
print(len(temp_list))

7

Pandas has different built-in functions and aggregations to perform ``descriptive statistics``. For example, the ``describe()`` function can be used to get the summary statistics of the numeric variables. The describe() function returns the count, mean, standard deviation, minimum and maximum values and the quantiles of the data.

In [7]:
data.describe()

            temp
count   7.000000
mean   17.428571
std     4.755949
min    12.000000
25%    14.000000
50%    15.000000
75%    21.500000
max    24.000000

In [13]:
# Get data in Row
data[data["temp"] == data["temp"].max()]

      day  temp condition
6  Sunday    24     Sunny

In [14]:
# Create dataframe from scratch
data_dict = {
    "students": ["Amy", "James", "Angela"],
    "scores": [76, 56, 65]
}

data = pd.DataFrame(data_dict)

In [15]:
data

  students  scores
0      Amy      76
1    James      56
2   Angela      65